* { 
    padding: 0;
    margin: 0; 
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(fondos%2003.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    margin: 0;
}

.navbar {
    display: table-row;   
    position: fixed;
    background-color: rgba(11, 4, 108, 0.92); 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    height: 70px;
    line-height: 50px;
}


.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar  li {
    margin: 0;
}

.navbar a { 
    cursor: pointer; 
    padding: 10px;
    margin: 0;
    display: block;
    color: rgba(227, 226, 245, 0.97);
    border-radius: 2px;
    font-family: sans-serif;
    font-style:initial;
    font-size: 20px;
    text-decoration: none;
    text-align: center; 
    transition: color 0.3s;
}

ul.no-viñetas {
    list-style-type: none; 
}

.navbar ul li a:hover { 
    text-decoration: none;
    background-color: rgba(99, 92, 180, 0.86);
}

h1 {
    padding-top: 120;
    text-align: center;
    font-family: sans-serif;
    font-size: 60;
    color: rgba(11, 4, 108, 0.86);
    font-style: inherit;
    margin-top: 30;
    margin-bottom: 20;
}

.contenido {
    margin-left: 220;
    margin-right: 220;
    margin-top: 46;
    margin-bottom: 50px;
}

h2 {
    padding-top: 10;
    font-family: sans-serif;
    color: rgb(80, 71, 132);
    font font-size: 37;
    margin-top: 35;
    margin-bottom: 30;
}

h3 {
    font-family: sans-serif;
    color: rgb(104, 96, 150);
    font-size: 20;
    padding-top: 8; 
    margin-bottom: 13;
    margin-top: 25;
}

h4 {
    color: rgb(104, 96, 150);
    font-family: sans-serif;
    font-size: 18;
    margin-bottom: 12;
    margin-top: 35;
}

h5{
    color: rgba(11, 4, 108, 0.86);
    font-family: sans-serif;
    font-size: 30;
    margin-bottom: 30;
    margin-top: 0;
    text-align: center;
}

h6{
   color: rgb(104, 96, 150);
    font-family: sans-serif;
    font-size: 30;
    margin-bottom: 30;
    margin-top: 30;
    text-align: center; 
}

p { 
    color: #1a1a33;
    font-family: sans-serif;
    font-size: 16;
    text-align: left; 
    margin-bottom: 24;
    margin-top: 15;
    line-height: 1.6;
    text-align: justify;
}

a{
    color: rgb(104, 96, 150);
}

 ul.con-viñetas {
    list-style-type: square;  
    margin-bottom: 18;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 16;
    text-align: justify;
    padding-left: 25;
}

ul.color {
    list-style-type: square;  
    margin-bottom: 18;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 16;
    text-align: justify;
    padding-left: 25; 
}

ul.color li strong {
    margin-bottom: 1.8;
    font-family: sans-serif;
    line-height: 1.8;
    padding-top: 20;
    color: rgb(104, 96, 150);
}

ul.color i{
    color: rgb(104, 96, 150);
}

ul. color p {
    margin-bottom: 1.8;
    font-family: sans-serif;
    font-size: 16;
    line-height: 1.8;
    padding-left: 25;
    padding-top: 5;
   
}

ol {
    list-style-type:decimal;
    margin-bottom: 15;
    font-family: sans-serif;
    line-height: 1.8; 
    color: rgb(104, 96, 150);
}

p. ul con-viñetas {
    margin-bottom: 1.8;
    font-family: sans-serif;
    font-size: 16;
    line-height: 1.8;
    padding-left: 25;
    padding-top: 20;
}

.highlight{
    font-weight: bold;
    color: rgb(104, 96, 150);
}
    
.container {
    display: flex;              
    justify-content: space-between;  
    align-items: flex-start;
    padding: 0;
    margin-top: 0;
}


.texto {
    flex: 1;                    
    padding-right: 0px; 
    padding-left:0;
    padding-top: 0;
    color: rgb(104, 96, 150);
}

.imagen img {
    max-width: 310px;       
    max-height: 420;  
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);   
}

.blue {
    font-family: sans-serif;
    line-height: 1.6;
    color: rgb(104, 96, 150);
    padding-left: 20;  
    text-align: justify;
}

ul.con-números { 
    padding-left: 25;
    margin-top: 20
}

p. ul con-números {
    margin-bottom: 15;
}

.image-container {
    display: grid;
    grid-template-areas:  
        "img9 img9"
        "img7 img8"
        "img6 img1"
        "img2 img3"
        "img4 img5";
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 800px; 
    margin: 0 auto; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 5px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.img9 img {
    height: 200px; /* Mismo tamaño que las demás */
}

/* Asegura que las áreas se asignen correctamente */
.img9{
    grid-area: img9;
}
.img8{
    grid-area: img8;
}

.img7{
    grid-area: img7;
} 

.img6{
    grid-area: img6;
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}
