* { 
    padding: 0;
    margin: 0; 
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(fondos%2003.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    margin: 0;
}

.navbar {
    display: table-row;   
    position: fixed;
    background-color: rgba(11, 4, 108, 0.92); 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-decoration: none;
    height: 70px;
    line-height: 35px;
}


.navbar ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.navbar  li {
    margin: 0;
}

.navbar a { 
    cursor: pointer; 
    padding: 17px;
    margin: 0;
    display: block;
    color: rgba(227, 226, 245, 0.97);
    border-radius: 2px;
    font-family: sans-serif;
    font-style:initial;
    font-size: 20px;
    text-decoration: none;
    text-align: center; 
    transition: color 0.3s;
}

ul.no-viñetas {
    list-style-type: none; 
}

.navbar ul li a:hover { 
    text-decoration: none;
    background-color: rgba(99, 92, 180, 0.86);
    color: white;
}

.principal-title {
    background-image: url(aguaazul.jpg);
    background-size: no-repeat;
    background-position: center;
    height: 300;
    width: 100%;
    text-align: center;
    padding: 0px 0; 
    margin-top: 70px;
}

.principal-title h1{
    font-family: sans-serif;
    font-size: 70;
    color: ghostwhite;
    padding-top: 75;
}

.principal-title h6{
    font-family: sans-serif;
    font-size: 35;
    color: white;
}

h1 {
    padding-top: 120;
    text-align: center;
    font-family: sans-serif;
    font-size: 60px;
    color: rgba(11, 4, 108, 0.86);
    font-style: inherit;
    margin-top: 50;
    margin-bottom: 20;
}

.contenido {
    margin-left: 220;
    margin-right: 220;
    margin-top: 46;
    margin-bottom: 50;
   }

h2 {
    padding-top: 10;
    font-family: sans-serif;
    color: rgb(80, 71, 132);
    font font-size: 40;
    margin-top: 35;
    margin-bottom: 20;
}


h3 {
    font-family: sans-serif;
    color: rgb(104, 96, 150);
    font-size: 22px;
    padding-top: 10; 
    margin-bottom: 20;
    margin-top: 45;
}

h4 {
    color: rgb(116, 109, 160);
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 12;
    margin-top: 35;
    text-align: center;
}

h5{
    color: rgba(11, 4, 108, 0.86);
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 30;
    margin-top: 0;
    text-align: center;
}


h6{
   color: rgb(104, 96, 150);
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 30;
    margin-top: 30;
    text-align: center; 
}

h7 {
    color: rgb(80, 71, 132);
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 120;
    padding-top: 50;
    text-align: center; 
}

p { 
    color: #1a1a33;
    font-family: sans-serif;
    font-size: 16px;
    text-align: left; 
    margin-bottom: 24;
    margin-top: 16;
    line-height: 1.6;
    text-align: justify;
}

a{
    color: rgb(104, 96, 150);
}

 ul.con-viñetas {
    list-style-type: square;  
    margin-bottom: 18;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 16px;
    text-align: justify;
    padding-left: 25;
}

ol {
    list-style-type:decimal;
    margin-bottom: 15;
    font-family: sans-serif;
    line-height: 1.8; 
    color: rgb(104, 96, 150);
}

p. ul con-viñetas {
    margin-bottom: 1.8;
    font-family: sans-serif;
    line-height: 1.8;
    padding-left: 25;
    padding-top: 20;
}

.highlight{
    font-weight: bold;
    color: rgb(104, 96, 150);
}
    
.container {
    display: flex;              
    justify-content: space-between;  
    align-items: center;
    padding: 0;
    margin-top: 0;
}


.texto {
    flex: 2;                    
    padding-right: 0px; 
    padding-left:40;
    padding-top: 0;
    color: rgb(24, 23, 26);
}


.imagen img {
    max-width: 400px;       
    max-height: 440; 
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
}

.blue {
    font-family: sans-serif;
    line-height: 1.6;
    color: rgb(104, 96, 150);
    padding-left: 20;   
}

ul.con-números { 
    padding-left: 25;
    margin-top: 20
}

p. ul con-números {
    margin-bottom: 15;
}


.comienzo {
    display: flex;              
    justify-content: space-between;  
    align-items: center;
    padding: 0;
    margin-top: 0;
}


.paragraph {
    flex: 1;                    
    padding-right: 0px; 
    padding-left:40;
    padding-top: 0;
    color: rgb(24, 23, 26);
}

.email {
    font-size: 1.em;
    font-weight: bold;
    color: rgb(80, 71, 132);
}


.photo img {
    max-width: 410px;       
    max-height: 400; 
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
}

.gray-block {
    background-color: rgba(95, 93, 105, 0.82); 
    width: 100%;  
    box-sizing: border-box; 
    height: 185;
}

.gray-block h2{
    color: whitesmoke;
    font-family: sans-serif;
    margin-left: 220;
    margin-right: 220;
    padding-top: 20px;
    padding-bottom: 5px;
}
        
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-left: 220;
    margin-right: 220;
    margin-top: 5px;
    margin-bottom: 50;
}

        
.columns div {
    display: flex; 
    align-items: center;
    color: ghostwhite;
    list-style-type: square;
     font-family: sans-serif;
    font-size: 18;
}

.div li {
    padding-left: 10px;
}

.columns div li a {
    margin-bottom: 1.8;
    line-height: 1.8;
    padding-left: 0;
    color: ghostwhite; 
    white-space: pre-wrap;
    margin-left: 5px;
    margin-right: 5px;
}



a:hover {
    text-decoration: underline; 
    color: #230072; 
